:root {
  --mantine-spacing-md: 16px; /* Adjust the value as needed */
  --mantine-breakpoint-sm: 48em; /* Example breakpoint */
}

.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  min-height: rem(820px);
  background-image: radial-gradient(
    var(--mantine-color-blue-6) 0%,
    var(--mantine-color-blue-4) 100%
  );
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  color: var(--mantine-color-black);
}

.title {
  color: black;
  font-size: 52px;
  /* font-family: Greycliff CF, var(--mantine-font-family); */
}

.item {
  background-color: white;
  border-bottom: 0;
  border-radius: var(--mantine-radius-md);
  /* box-shadow: var(--mantine-shadow-lg); */
  overflow: hidden;
}

.control {
  font-size: var(--mantine-font-size-lg);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  color: var(--mantine-color-black);
}

.content {
  padding-left: var(--mantine-spacing-xl);
  line-height: 1.6;
  color: var(--mantine-color-black);
}

.icon {
  margin-left: var(--mantine-spacing-md);
}

.itemOpened {
  & .icon {
    transform: rotate(45deg);
  }
}

.button {
  display: block;
  margin-top: var(--mantine-spacing-md);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    display: block;
    width: 100%;
  }
}
